<head>

</head>

<body>

    <form action="/echoform" method="post">
        <input type = "hidden" name = "hidden" value = "I am hidden!">
        <input type="text" name="myTextBox" value="ABC">
        <br>
        <textarea name="myTextArea">DEF</textarea>
        <br>
        <input type="checkbox" name="myCheckbox" checked="checked">
        <br>
        <input type="radio" name="radio_button" value="ON" checked="checked">
        <input type="radio" name="radio_button">
        <br>
        <select name="mySelect">
            <option value="value1">Value1</option>
            <option value="value2">Value2</option>
            <option value="value3">Value3</option>
            <option value="value4">Value4</option>
        </select>
        <input type="submit">
    </form>

</body>