<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <a href="<%=query%>&email=robin.soderholm87@gmail.com">
        <%=query%>&email=robin.soderholm87@gmail.com>
    </a>
    <br>
    <a href="<%=query%>&email=scooby.doo@afraidofghosts.com">
        <%=query%>&email=scooby.doo@afraidofghosts.com
    </a>

</body>

</html>