<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2.1</title>
</head>

<body>
    <a href="/echolink?name=Nalle+Puh&email=nalle-puh@dsv.su.se">/echolink?name=Nalle+Puh&email=nalle-puh@dsv.su.se</a>
    <p>Notera att argumenten st책r p책 adressraden efter det att man har klickat p책 l채nken eller knappen.</p>

</body>

</html>