<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/styles/addpost.css">
    <title>Document</title>
</head>

<body>
    <form action='/addpost' method="POST" id="postForm">


        <label for="name">Name: </label>
        <br>
        <input type="text" name="name" placeholder="Name" minlength="1">
        <br>
        <label for="email">Email:</label>
        <br>
        <input type="email" name="email" placeholder="example@gmail.com" minlength="1">
        <br>
        <label for="website">Your website:</label>
        <br>
        <input type="url" name="website" placeholder="Your website" minlength="1">
        <br>
        <label for="comment">Your comment:</label>
        <br>
        <textarea name="comment" form="postForm" minlength="1"></textarea>
        <br>
        <input type="submit" value="Add message">

    </form>


</body>

</html>