<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action = "/result" method = "POST">
        <input type="hidden" name="name" value="<%=name%>">
        <input type="text" name="email" value="email">
        <input type="submit" value="Send" name="button">
    </form>
</body>

</html>